{% extends 'courses/base.html' %}
{% load courses_custom_tags %}

{% block title %}
       Online coourse learning  
        
{% endblock %}

{% block content %}

<style>
    .price{
        font-size:20px;
    }
</style>
<form action="{% url 'search' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>


<br>
<br>
<div class="container ">
    <div class="row" >
        {% for course in courses %}

        <div class="col-lg-4 col-xs-12 p-3"  >
            <div class="card mx-auto"  style="width: 18rem;">
                <img src="{{course.thumbnail.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{course.name}}</h5>
                 
                  <p class="card-text ml-auto p-0">
                      Save {{course.discount}}%
                      <br>
                      <span class="price">

                       <del>{{course.price|rupee}}</del>
                        &nbsp;
                        <h1>{% cal_sellprice course.price course.discount as value %}{{value|rupee}}</h1>
                        <span>
                            
                        </span>
                      </span>
                     
                    
                  </p>
                  
                </div>
                

                <div class="card-footer p-0  ">
                    {% is_enrolled request course as enrolled %}
                   
                   
                    <div class="row no-gutters">
                        {% if enrolled %}
                        <div class=" col border-right"><a href="/course/{{course.slug}}" class="btn btn-light btn-block">Start Course</a></div>
                        
                        {% else %}
                        <div class="col border-right"><a href="/check-out/{{course.slug}}" class="btn btn-light btn-block">Enroll Now</a></div>
                        <div class="col border"><a href="/course/{{course.slug}}" class="btn btn-light btn-block">show more</a>
                           
                        </div>
                        {% endif %}
                    </div>
                   
                   
                </div>
              </div>
             
        </div><!--columend here-->
       

       
    
         {% endfor %}
    </div>
  
   

</div>

<!--for testing purpose -->



<!--for testing purpose -->
<script>
    function submitForm(){
        document.getElementById('fiterform').submit()
    }
</script>

{% endblock %}

